DATA CLEANING FOR SCRAPED DATA

In [ ]:
import pandas as pd
import numpy as np

In [68]:
df=pd.read_csv(r"C:\Users\vasan\Desktop\RED_BUS_PROJECT - Copy\df_bus_total-data.csv")
df

,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Duration,Reach_time,Star_rating,price,Seat_available
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4972,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:20,08h 00m,03:20,4.4\n10,INR 436,15 Seats available\n5 Window
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4894,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,4.4\n10,INR 436,27 Seats available\n13 Window
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4898,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,3.7\n4,INR 436,26 Seats available\n11 Window
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2573,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),19:45,06h 45m,02:30,3.3\n17,INR 670,28 Seats available\n11 Window
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2678,NIGHT RIDER (SEATER CUM SLEEPER),20:00,07h 00m,03:00,4.2\n6,INR 595,22 Seats available\n1 Single
...,...,...,...,...,...,...,...,...,...,...
12725,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),15:55,05h 15m,21:10,2.7,INR 250,36 Seats available\n12 Window
12726,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,Non AC Seater (2+3),16:10,05h 35m,21:45,2.7,INR 220,40 Seats available\n13 Window
12727,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),18:30,05h 15m,23:45,2.7,INR 300,46 Seats available
12728,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),17:20,04h 30m,21:50,2.7,INR 249,46 Seats available\n16 Window
12729,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,Tara Ma Paribahan,Non AC Seater (2+3),14:30,05h 00m,19:30,1.0,INR 220,54 Seats available\n19 Window

In [4]:
df.describe()

,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Duration,Reach_time,Star_rating,price,Seat_available
count,12730,12730,12705,12705,12705,12705,12706,12706,12706,12706
unique,188,188,3937,161,595,571,672,2731,1493,1003
top,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,A/C Seater / Sleeper (2+1),22:00,04h 00m,05:00,3.3,INR 600,42 Seats available\n13 Window
freq,885,885,332,1174,466,457,439,562,218,358

In [5]:
df.info

<bound method DataFrame.info of                     Route_name  \
0      Hyderabad to Vijayawada
1      Hyderabad to Vijayawada
2      Hyderabad to Vijayawada
3      Hyderabad to Vijayawada
4      Hyderabad to Vijayawada
...                        ...
12725         Kolkata to Digha
12726         Kolkata to Digha
12727         Kolkata to Digha
12728         Kolkata to Digha
12729         Kolkata to Digha

                                              Route_link             Bus_name  \
0      https://www.redbus.in/bus-tickets/hyderabad-to...        APSRTC - 4972
1      https://www.redbus.in/bus-tickets/hyderabad-to...        APSRTC - 4894
2      https://www.redbus.in/bus-tickets/hyderabad-to...        APSRTC - 4898
3      https://www.redbus.in/bus-tickets/hyderabad-to...        APSRTC - 2573
4      https://www.redbus.in/bus-tickets/hyderabad-to...        APSRTC - 2678
...                                                  ...                  ...
12725  https://www.redbus.in/bus-tickets/kolkata-to-d...  SANTOSH BUS SERVICE
12726  https://www.redbus.in/bus-tickets/kolkata-to-d...  SANTOSH BUS SERVICE
12727  https://www.redbus.in/bus-tickets/kolkata-to-d...  SANTOSH BUS SERVICE
12728  https://www.redbus.in/bus-tickets/kolkata-to-d...  SANTOSH BUS SERVICE
12729  https://www.redbus.in/bus-tickets/kolkata-to-d...    Tara Ma Paribahan

                                         Bus_type Departing_time Duration  \
0          SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)          19:20  08h 00m
1          SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)          19:45  07h 15m
2          SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)          19:45  07h 15m
3      AMARAVATHI (VOLVO / SCANIA A.C Multi Axle)          19:45  06h 45m
4                NIGHT RIDER (SEATER CUM SLEEPER)          20:00  07h 00m
...                                           ...            ...      ...
12725                             AC Seater (2+3)          15:55  05h 15m
12726                         Non AC Seater (2+3)          16:10  05h 35m
12727                             AC Seater (2+3)          18:30  05h 15m
12728                             AC Seater (2+3)          17:20  04h 30m
12729                         Non AC Seater (2+3)          14:30  05h 00m

      Reach_time Star_rating    price                 Seat_available
0          03:20     4.4\n10  INR 436   15 Seats available\n5 Window
1          03:00     4.4\n10  INR 436  27 Seats available\n13 Window
2          03:00      3.7\n4  INR 436  26 Seats available\n11 Window
3          02:30     3.3\n17  INR 670  28 Seats available\n11 Window
4          03:00      4.2\n6  INR 595   22 Seats available\n1 Single
...          ...         ...      ...                            ...
12725      21:10         2.7  INR 250  36 Seats available\n12 Window
12726      21:45         2.7  INR 220  40 Seats available\n13 Window
12727      23:45         2.7  INR 300             46 Seats available
12728      21:50         2.7  INR 249  46 Seats available\n16 Window
12729      19:30         1.0  INR 220  54 Seats available\n19 Window

[12730 rows x 10 columns]>

In [8]:
df.isnull().sum()

Route_name         0
Route_link         0
Bus_name          25
Bus_type          25
Departing_time    25
Duration          25
Reach_time        24
Star_rating       24
price             24
Seat_available    24
dtype: int64

In [69]:
df1=df.dropna(how='any')

In [70]:
df1

,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Duration,Reach_time,Star_rating,price,Seat_available
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4972,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:20,08h 00m,03:20,4.4\n10,INR 436,15 Seats available\n5 Window
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4894,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,4.4\n10,INR 436,27 Seats available\n13 Window
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4898,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,3.7\n4,INR 436,26 Seats available\n11 Window
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2573,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),19:45,06h 45m,02:30,3.3\n17,INR 670,28 Seats available\n11 Window
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2678,NIGHT RIDER (SEATER CUM SLEEPER),20:00,07h 00m,03:00,4.2\n6,INR 595,22 Seats available\n1 Single
...,...,...,...,...,...,...,...,...,...,...
12725,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),15:55,05h 15m,21:10,2.7,INR 250,36 Seats available\n12 Window
12726,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,Non AC Seater (2+3),16:10,05h 35m,21:45,2.7,INR 220,40 Seats available\n13 Window
12727,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),18:30,05h 15m,23:45,2.7,INR 300,46 Seats available
12728,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),17:20,04h 30m,21:50,2.7,INR 249,46 Seats available\n16 Window
12729,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,Tara Ma Paribahan,Non AC Seater (2+3),14:30,05h 00m,19:30,1.0,INR 220,54 Seats available\n19 Window

In [16]:
df1.isnull().sum()

Route_name        0
Route_link        0
Bus_name          0
Bus_type          0
Departing_time    0
Duration          0
Reach_time        0
Star_rating       0
price             0
Seat_available    0
dtype: int64

In [17]:
df.shape

(12730, 10)

In [65]:
df2=df.dropna(how='all').shape
df2

(12447,)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12730 entries, 0 to 12729
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Route_name      12730 non-null  object
 1   Route_link      12730 non-null  object
 2   Bus_name        12705 non-null  object
 3   Bus_type        12705 non-null  object
 4   Departing_time  12705 non-null  object
 5   Duration        12705 non-null  object
 6   Reach_time      12706 non-null  object
 7   Star_rating     12706 non-null  object
 8   price           12706 non-null  object
 9   Seat_available  12706 non-null  object
dtypes: object(10)
memory usage: 994.7+ KB

In [23]:
df.isnull().sum()

Route_name         0
Route_link         0
Bus_name          25
Bus_type          25
Departing_time    25
Duration          25
Reach_time        24
Star_rating       24
price             24
Seat_available    24
dtype: int64

In [25]:
df1.isnull().sum()

Route_name        0
Route_link        0
Bus_name          0
Bus_type          0
Departing_time    0
Duration          0
Reach_time        0
Star_rating       0
price             0
Seat_available    0
dtype: int64

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12705 entries, 0 to 12729
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Route_name      12705 non-null  object
 1   Route_link      12705 non-null  object
 2   Bus_name        12705 non-null  object
 3   Bus_type        12705 non-null  object
 4   Departing_time  12705 non-null  object
 5   Duration        12705 non-null  object
 6   Reach_time      12705 non-null  object
 7   Star_rating     12705 non-null  object
 8   price           12705 non-null  object
 9   Seat_available  12705 non-null  object
dtypes: object(10)
memory usage: 1.1+ MB

In [ ]:
df1['price']

0        INR 436
1        INR 436
2        INR 436
3        INR 670
4        INR 595
          ...
12725    INR 250
12726    INR 220
12727    INR 300
12728    INR 249
12729    INR 220
Name: price, Length: 12705, dtype: object

In [71]:
df1['price']=df1['price'].str.replace("INR","")
df1['price']=df1['price'].astype(float)
df1['price']

C:\Users\vasan\AppData\Local\Temp\ipykernel_16332\632643010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price']=df1['price'].str.replace("INR","")
C:\Users\vasan\AppData\Local\Temp\ipykernel_16332\632643010.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price']=df1['price'].astype(float)

0        436.0
1        436.0
2        436.0
3        670.0
4        595.0
         ...
12725    250.0
12726    220.0
12727    300.0
12728    249.0
12729    220.0
Name: price, Length: 12705, dtype: float64

In [72]:
df1

,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Duration,Reach_time,Star_rating,price,Seat_available
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4972,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:20,08h 00m,03:20,4.4\n10,436.0,15 Seats available\n5 Window
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4894,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,4.4\n10,436.0,27 Seats available\n13 Window
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4898,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,3.7\n4,436.0,26 Seats available\n11 Window
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2573,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),19:45,06h 45m,02:30,3.3\n17,670.0,28 Seats available\n11 Window
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2678,NIGHT RIDER (SEATER CUM SLEEPER),20:00,07h 00m,03:00,4.2\n6,595.0,22 Seats available\n1 Single
...,...,...,...,...,...,...,...,...,...,...
12725,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),15:55,05h 15m,21:10,2.7,250.0,36 Seats available\n12 Window
12726,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,Non AC Seater (2+3),16:10,05h 35m,21:45,2.7,220.0,40 Seats available\n13 Window
12727,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),18:30,05h 15m,23:45,2.7,300.0,46 Seats available
12728,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),17:20,04h 30m,21:50,2.7,249.0,46 Seats available\n16 Window
12729,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,Tara Ma Paribahan,Non AC Seater (2+3),14:30,05h 00m,19:30,1.0,220.0,54 Seats available\n19 Window

In [88]:
df1['Star_rating']=df1['Star_rating'].str.replace("\n","")
df1['Star_rating']=df1['Star_rating'].apply(pd.to_numeric, errors='coerce')
df1['Star_rating']=df1['Star_rating'].round(1)
df1

In [103]:
df1['Seat_available']=df1['Seat_available'].str.replace("\n"," ")

In [104]:
df1

,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Duration,Reach_time,Star_rating,price,Seat_available
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4972,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:20,08h 00m,03:20,4.4,436.0,15 Seats available 5 Window
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4894,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,4.4,436.0,27 Seats available 13 Window
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4898,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,3.7,436.0,26 Seats available 11 Window
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2573,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),19:45,06h 45m,02:30,3.3,670.0,28 Seats available 11 Window
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2678,NIGHT RIDER (SEATER CUM SLEEPER),20:00,07h 00m,03:00,4.3,595.0,22 Seats available 1 Single
...,...,...,...,...,...,...,...,...,...,...
12725,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),15:55,05h 15m,21:10,2.7,250.0,36 Seats available 12 Window
12726,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,Non AC Seater (2+3),16:10,05h 35m,21:45,2.7,220.0,40 Seats available 13 Window
12727,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),18:30,05h 15m,23:45,2.7,300.0,46 Seats available
12728,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),17:20,04h 30m,21:50,2.7,249.0,46 Seats available 16 Window
12729,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,Tara Ma Paribahan,Non AC Seater (2+3),14:30,05h 00m,19:30,1.0,220.0,54 Seats available 19 Window

In [91]:
df4=df1[df1["price"]<=7000]
df4

,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Duration,Reach_time,Star_rating,price,Seat_available
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4972,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:20,08h 00m,03:20,4.4,436.0,15 Seats available 5 Window
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4894,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,4.4,436.0,27 Seats available 13 Window
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4898,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,3.7,436.0,26 Seats available 11 Window
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2573,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),19:45,06h 45m,02:30,3.3,670.0,28 Seats available 11 Window
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2678,NIGHT RIDER (SEATER CUM SLEEPER),20:00,07h 00m,03:00,4.3,595.0,22 Seats available 1 Single
...,...,...,...,...,...,...,...,...,...,...
12725,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),15:55,05h 15m,21:10,2.7,250.0,36 Seats available 12 Window
12726,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,Non AC Seater (2+3),16:10,05h 35m,21:45,2.7,220.0,40 Seats available 13 Window
12727,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),18:30,05h 15m,23:45,2.7,300.0,46 Seats available
12728,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),17:20,04h 30m,21:50,2.7,249.0,46 Seats available 16 Window
12729,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,Tara Ma Paribahan,Non AC Seater (2+3),14:30,05h 00m,19:30,1.0,220.0,54 Seats available 19 Window

In [92]:
df4['price'].max()

np.float64(6000.0)

In [93]:
df4.shape

(12704, 10)

In [94]:
df1.shape

(12705, 10)

In [95]:
path=(r"C:\Users\vasan\Desktop\data cleaning file\cleaning-data.csv")
df4.to_csv(path,index=False)

In [96]:
df4

,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Duration,Reach_time,Star_rating,price,Seat_available
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4972,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:20,08h 00m,03:20,4.4,436.0,15 Seats available 5 Window
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4894,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,4.4,436.0,27 Seats available 13 Window
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4898,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,3.7,436.0,26 Seats available 11 Window
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2573,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),19:45,06h 45m,02:30,3.3,670.0,28 Seats available 11 Window
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2678,NIGHT RIDER (SEATER CUM SLEEPER),20:00,07h 00m,03:00,4.3,595.0,22 Seats available 1 Single
...,...,...,...,...,...,...,...,...,...,...
12725,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),15:55,05h 15m,21:10,2.7,250.0,36 Seats available 12 Window
12726,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,Non AC Seater (2+3),16:10,05h 35m,21:45,2.7,220.0,40 Seats available 13 Window
12727,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),18:30,05h 15m,23:45,2.7,300.0,46 Seats available
12728,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,SANTOSH BUS SERVICE,AC Seater (2+3),17:20,04h 30m,21:50,2.7,249.0,46 Seats available 16 Window
12729,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...,Tara Ma Paribahan,Non AC Seater (2+3),14:30,05h 00m,19:30,1.0,220.0,54 Seats available 19 Window

CREATE MYSQL DATABASESE

In [2]:
import pandas as pd
import pymysql

In [ ]:
conn=pymysql.connect(host="localhost",user="root",password="14201420vj")
my_cursor=conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS  redbus_details ")

1

In [ ]:
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_routedetails(
ID INT AUTO_INCREMENT PRIMARY KEY,
Route_name VARCHAR(300) NULL,
Route_link VARCHAR(300)NULL,
Bus_name VARCHAR(300)NOT NULL,
Bus_type VARCHAR(300)NOT NULL ,
Departing_time VARCHAR(300) NOT NULL,
Duration VARCHAR(300) NOT NULL,
Reach_time VARCHAR(300)NOT NULL,
Star_rating FLOAT NULL,
price FLOAT NULL,
Seat_available VARCHAR(300)NOT NULL
)''')